<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.tag</url-pattern>                
        <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
</jsp-config>
  <display-name>Hello</display-name>
  <servlet>
        <servlet-name>Client</servlet-name>
        <servlet-class>com.website.servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>EditClient</servlet-name>
        <servlet-class>com.website.servlet.EditClientServlet</servlet-class>
        </servlet>
    <servlet-mapping>
        <servlet-name>EditClient</servlet-name>
        <url-pattern>/clients/edit</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>com.website.servlet.DeleteClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/clients/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Article</servlet-name>
        <servlet-class>com.website.servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/articles</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>EditArticle</servlet-name>
        <servlet-class>com.website.servlet.EditArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditArticle</servlet-name>
        <url-pattern>/articles/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteArticle</servlet-name>
        <servlet-class>com.website.servlet.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteArticle</servlet-name>
        <url-pattern>/articles/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Facture</servlet-name>
        <servlet-class>com.website.servlet.FactureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facture</servlet-name>
        <url-pattern>/factures</url-pattern>
    </servlet-mapping>
</web-app>